.ucenterpage
  .el-collapse-item__content
    padding-bottom 0


.navbox
  .el-submenu
    a
      font-size 18px
      color #fff !important
  .el-submenu__title
    font-size 18px
  .el-menu-item
    font-size 18px
  .el-menu.el-menu--horizontal
    border 0
  .el-menu--horizontal>.el-menu-item.is-active
    border 0
  .el-submenu__icon-arrow
    font-size 16px
  .el-submenu__title i
    color #fff
  .el-menu--horizontal>.el-menu-item
    border-bottom 0
  .el-menu--horizontal>.el-submenu.is-active .el-submenu__title
    border 0
  .el-menu--horizontal>.el-submenu .el-submenu__title
    border 0
  .is-active
    background #774AD7 !important