@import './sprite.styl'

.icon
  display inline-block
  cursor pointer

&.icon-qq
  sprite($qq)

&.icon-phone
  sprite($phone)

&.icon-ucenter
  sprite($ucenter)

&.icon-phonenum
  sprite($phonenum)

&.icon-lock
  sprite($lock)

&.icon-loginqq
  sprite($loginqq)

&.icon-wechat
  sprite($wechat)

&.icon-indexright
  sprite($indexright)

&.icon-paper
  sprite($paper)

&.icon-ucenternav1
  sprite($ucenternav1)

&.icon-ucenternav2
  sprite($ucenternav2)

&.icon-ucenternav3
  sprite($ucenternav3)

&.icon-centerard
  sprite($centerard)

&.icon-videoeye
  sprite($videoeye)




  