input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
  -webkit-appearance none
  margin 0
.el-pagination.is-background .el-pager li:not(.disabled).active
  background #8081DD

.homepage
  .el-form-item__content
    height 36px
  .el-input__inner
    height 36px
    padding-left 42px !important
  .el-form-item
    margin-bottom 0
  .el-checkbox
    color #6C3A87
  .el-checkbox__label
    font-size 12px
  .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner
    background #500778
    border-color #500778
  .el-checkbox__input.is-checked+.el-checkbox__label
    color #6C3A87
  .el-checkbox__input.is-focus .el-checkbox__inner
    border-color #500778
.user-infrom, .reportpage, .feedbackpage
  .el-form-item
    margin-bottom 6px
    .el-form-item__label
      line-height 30px
      font-size 12px
      text-align left
      color rgba(0, 0, 0, 0.5)
  .el-form-item__content
    line-height 30px
  .el-input__inner
    height 30px
    line-height 30px
    font-size 12px
    color #000
  .el-input
    width 200px
  .el-input__icon
    line-height 30px

.feedbackpage
  .el-form-item
    margin-bottom 20px

