/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$indexright_name = 'indexright';
$indexright_x = 0px;
$indexright_y = 42px;
$indexright_offset_x = 0px;
$indexright_offset_y = -42px;
$indexright_width = 44px;
$indexright_height = 44px;
$indexright_total_width = 161px;
$indexright_total_height = 135px;
$indexright_image = '../assets/images/sprite/sprite.png';
$indexright = 0px 42px 0px -42px 44px 44px 161px 135px '../assets/images/sprite/sprite.png' 'indexright';
$lock_name = 'lock';
$lock_x = 136px;
$lock_y = 51px;
$lock_offset_x = -136px;
$lock_offset_y = -51px;
$lock_width = 17px;
$lock_height = 20px;
$lock_total_width = 161px;
$lock_total_height = 135px;
$lock_image = '../assets/images/sprite/sprite.png';
$lock = 136px 51px -136px -51px 17px 20px 161px 135px '../assets/images/sprite/sprite.png' 'lock';
$loginqq_name = 'loginqq';
$loginqq_x = 92px;
$loginqq_y = 44px;
$loginqq_offset_x = -92px;
$loginqq_offset_y = -44px;
$loginqq_width = 36px;
$loginqq_height = 36px;
$loginqq_total_width = 161px;
$loginqq_total_height = 135px;
$loginqq_image = '../assets/images/sprite/sprite.png';
$loginqq = 92px 44px -92px -44px 36px 36px 161px 135px '../assets/images/sprite/sprite.png' 'loginqq';
$paper_name = 'paper';
$paper_x = 0px;
$paper_y = 0px;
$paper_offset_x = 0px;
$paper_offset_y = 0px;
$paper_width = 48px;
$paper_height = 42px;
$paper_total_width = 161px;
$paper_total_height = 135px;
$paper_image = '../assets/images/sprite/sprite.png';
$paper = 0px 0px 0px 0px 48px 42px 161px 135px '../assets/images/sprite/sprite.png' 'paper';
$phone_name = 'phone';
$phone_x = 136px;
$phone_y = 71px;
$phone_offset_x = -136px;
$phone_offset_y = -71px;
$phone_width = 17px;
$phone_height = 20px;
$phone_total_width = 161px;
$phone_total_height = 135px;
$phone_image = '../assets/images/sprite/sprite.png';
$phone = 136px 71px -136px -71px 17px 20px 161px 135px '../assets/images/sprite/sprite.png' 'phone';
$phonenum_name = 'phonenum';
$phonenum_x = 136px;
$phonenum_y = 111px;
$phonenum_offset_x = -136px;
$phonenum_offset_y = -111px;
$phonenum_width = 15px;
$phonenum_height = 21px;
$phonenum_total_width = 161px;
$phonenum_total_height = 135px;
$phonenum_image = '../assets/images/sprite/sprite.png';
$phonenum = 136px 111px -136px -111px 15px 21px 161px 135px '../assets/images/sprite/sprite.png' 'phonenum';
$qq_name = 'qq';
$qq_x = 136px;
$qq_y = 91px;
$qq_offset_x = -136px;
$qq_offset_y = -91px;
$qq_width = 17px;
$qq_height = 20px;
$qq_total_width = 161px;
$qq_total_height = 135px;
$qq_image = '../assets/images/sprite/sprite.png';
$qq = 136px 91px -136px -91px 17px 20px 161px 135px '../assets/images/sprite/sprite.png' 'qq';
$ucenter_name = 'ucenter';
$ucenter_x = 136px;
$ucenter_y = 26px;
$ucenter_offset_x = -136px;
$ucenter_offset_y = -26px;
$ucenter_width = 24px;
$ucenter_height = 25px;
$ucenter_total_width = 161px;
$ucenter_total_height = 135px;
$ucenter_image = '../assets/images/sprite/sprite.png';
$ucenter = 136px 26px -136px -26px 24px 25px 161px 135px '../assets/images/sprite/sprite.png' 'ucenter';
$wechat_name = 'wechat';
$wechat_x = 48px;
$wechat_y = 44px;
$wechat_offset_x = -48px;
$wechat_offset_y = -44px;
$wechat_width = 36px;
$wechat_height = 36px;
$wechat_total_width = 161px;
$wechat_total_height = 135px;
$wechat_image = '../assets/images/sprite/sprite.png';
$wechat = 48px 44px -48px -44px 36px 36px 161px 135px '../assets/images/sprite/sprite.png' 'wechat';
$_0_2_name = '进入0 副本 拷贝 2';
$_0_2_x = 48px;
$_0_2_y = 0px;
$_0_2_offset_x = -48px;
$_0_2_offset_y = 0px;
$_0_2_width = 44px;
$_0_2_height = 44px;
$_0_2_total_width = 161px;
$_0_2_total_height = 135px;
$_0_2_image = '../assets/images/sprite/sprite.png';
$_0_2 = 48px 0px -48px 0px 44px 44px 161px 135px '../assets/images/sprite/sprite.png' '进入0 副本 拷贝 2';
$_0_name = '进入0 副本 拷贝';
$_0_x = 92px;
$_0_y = 0px;
$_0_offset_x = -92px;
$_0_offset_y = 0px;
$_0_width = 44px;
$_0_height = 44px;
$_0_total_width = 161px;
$_0_total_height = 135px;
$_0_image = '../assets/images/sprite/sprite.png';
$_0_ = 92px 0px -92px 0px 44px 44px 161px 135px '../assets/images/sprite/sprite.png' '进入0 副本 拷贝';
$centerard_name = 'centerard';
$centerard_x = 52px;
$centerard_y = 86px;
$centerard_offset_x = -52px;
$centerard_offset_y = -86px;
$centerard_width = 14px;
$centerard_height = 11px;
$centerard_total_width = 161px;
$centerard_total_height = 135px;
$centerard_image = '../assets/images/sprite/sprite.png';
$centerard = 52px 86px -52px -86px 14px 11px 161px 135px '../assets/images/sprite/sprite.png' 'centerard';
$ucenternav1_name = 'ucenternav1';
$ucenternav1_x = 0px;
$ucenternav1_y = 86px;
$ucenternav1_offset_x = 0px;
$ucenternav1_offset_y = -86px;
$ucenternav1_width = 32px;
$ucenternav1_height = 24px;
$ucenternav1_total_width = 161px;
$ucenternav1_total_height = 135px;
$ucenternav1_image = '../assets/images/sprite/sprite.png';
$ucenternav1 = 0px 86px 0px -86px 32px 24px 161px 135px '../assets/images/sprite/sprite.png' 'ucenternav1';
$ucenternav3_name = 'ucenternav3';
$ucenternav3_x = 136px;
$ucenternav3_y = 0px;
$ucenternav3_offset_x = -136px;
$ucenternav3_offset_y = 0px;
$ucenternav3_width = 25px;
$ucenternav3_height = 26px;
$ucenternav3_total_width = 161px;
$ucenternav3_total_height = 135px;
$ucenternav3_image = '../assets/images/sprite/sprite.png';
$ucenternav3 = 136px 0px -136px 0px 25px 26px 161px 135px '../assets/images/sprite/sprite.png' 'ucenternav3';
$ucenternav2_name = 'ucenternav2';
$ucenternav2_x = 0px;
$ucenternav2_y = 110px;
$ucenternav2_offset_x = 0px;
$ucenternav2_offset_y = -110px;
$ucenternav2_width = 30px;
$ucenternav2_height = 25px;
$ucenternav2_total_width = 161px;
$ucenternav2_total_height = 135px;
$ucenternav2_image = '../assets/images/sprite/sprite.png';
$ucenternav2 = 0px 110px 0px -110px 30px 25px 161px 135px '../assets/images/sprite/sprite.png' 'ucenternav2';
$videoeye_name = 'videoeye';
$videoeye_x = 32px;
$videoeye_y = 86px;
$videoeye_offset_x = -32px;
$videoeye_offset_y = -86px;
$videoeye_width = 20px;
$videoeye_height = 15px;
$videoeye_total_width = 161px;
$videoeye_total_height = 135px;
$videoeye_image = '../assets/images/sprite/sprite.png';
$videoeye = 32px 86px -32px -86px 20px 15px 161px 135px '../assets/images/sprite/sprite.png' 'videoeye';
$spritesheet_width = 161px;
$spritesheet_height = 135px;
$spritesheet_image = '../assets/images/sprite/sprite.png';
$spritesheet_sprites = $indexright $lock $loginqq $paper $phone $phonenum $qq $ucenter $wechat $_0_2 $_0_ $centerard $ucenternav1 $ucenternav3 $ucenternav2 $videoeye;
$spritesheet = 161px 135px '../assets/images/sprite/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
