.testcontent, .collectcontent, .reportpage, .accountpage, .feedbackpage
  .el-table
    font-size 12px
    color rgba(0, 0, 0, 0.5)
  .el-table td, .el-table th
    padding 3px 0
  .el-table th
    background #EBEBEB
  .el-table thead
    color rgba(0, 0, 0, 0.5)
